@model _Auth.UI.Areas._Auth.Models.LoginViewModel

<div class="login-container">
    <h2>Almes Portal Giriş</h2>
    <form asp-area="_Auth" asp-controller="Account" asp-action="Login" method="post">
        <input type="hidden" name="ReturnUrl" value="@Model?.ReturnUrl" />

        <div>
            <label>Kullanıcı Adı</label>
            <input type="text" id="Username" name="Username" class="form-control" value="@Model?.Username" required />
        </div>

        <div>
            <label>Şifre</label>
            <input type="password" id="Password" name="Password" class="form-control" required />
        </div>

        <button type="submit">Giriş Yap</button>
    </form>
</div>